
process {
    executor = 'lsf'
}
executor.perJobMemLimit = true


// additional genomes (override igenomes if present)
params {
    genomes {
        "hg19_local" {
            fasta            = "/juno/bic/depot/assemblies/H.sapiens/hg19/hg19.fasta"
            star             = "/juno/bic/depot/assemblies/H.sapiens/hg19/index/star/2.7.10a/gencode_v46lift37_gtf/"
            gtf              = "/juno/bic/depot/annotation/H.sapiens/gencode/v46/gencode.v46lift37.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/H.sapiens/gencode/v46/gencode.v46lift37.transcripts.fa"
            mito_name        = "chrM"
            macs_gsize       = "2.7e9"
        }
        "hg19_cloud" {
            fasta       = "s3://bictestbucket/reference/hg19/hg19.fasta"
            gtf         = "s3://bictestbucket/reference/hg19/anno/Homo_sapiens.gencode.v18.annotation.gtf"
            mito_name   = "chrM"
            macs_gsize  = "2.7e9"
        }
        "mm10_local" {
            fasta       = "/juno/bic/depot/assemblies/M.musculus/mm10/mm10.fasta"
            star        = "/juno/bic/depot/assemblies/M.musculus/mm10/index/star/2.7.10a/gencode_vM23_gtf"
            gtf         = "/juno/bic/depot/annotation/M.musculus/gencode/vM23/gencode.vM23.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/M.musculus/gencode/vM23/gencode.vM23.transcripts.fa"
            mito_name   = "chrM"
            macs_gsize  = "2.6e9"
        }
    }
}