process {
    executor = 'slurm'
    queue = 'cmobic_cpu'
    clusterOptions = '--exclude=isca002'
}

// additional genomes (override igenomes if present)
params {
    genomes {
        "custom" {
            fasta = "/data1/core001/rsrc/apps/bic-rnaseq/assemblies/H.sapiens/hg19/hg19.fasta"
            gtf = "/data1/core001/rsrc/apps/bic-rnaseq/annotation/H.sapiens/gencode/v46lift37/gencode.v46lift37.annotation.gtf"
            mito_name = "chrM"
        }
    }
}
